<div th:fragment="scheduleErrorModal" class="modal fade" id="schedule-error-modal" tabindex="-1"
    aria-labelledby="scheduleErrorLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-dark text-light">
            <div class="modal-header">
                <h5 class="modal-title" id="scheduleErrorLabel">Cannot Schedule</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="schedule-error-text">Scheduled time is in the past. Please enable Manual Time and choose a
                    future time.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-light" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-warning" id="schedule-error-manual-btn">Use Manual
                    Time</button>
            </div>
        </div>
    </div>
</div>
